<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      />
    <link rel="stylesheet" href="css/index.css" />
    <title>Task Manager|Home</title>
  </head>
  <body>
    {{>spinner}}
    <section id="login" class="login-section">
      <div class="login-area">
        <div class="crossLoginHeader">
          <h1>Welocome To Task Manager</h1>
          <div class="taskCross">
            <span class="cross"><i class="fa-solid fa-xmark"></i></span>
          </div>
        </div>
        <div class="main-login">
          <img src="./assets/taskImg.jpg" alt="task image" />
          <form class="login-form">
            <div class="login-inputs">
              <input class="loginEmail" type="text" placeholder="Email" />
              <input class="loginPassword" type="password" placeholder="Password" />
            </div>
            <button class="submitBtn" type="submit">Sign in</button>
            <p>Don't have an account? <span class="loginbarlink">Sign up</span> </p>
          </form>
        </div>
      </div>
    </section>
    <section id="signup" class="signup-section">
      <div class="signup-area">
        <div class="crossSignupHeader"><h1>Welocome To Task Manager</h1>
          <div class="taskCross">
            <span class="cross"><i class="fa-solid fa-xmark"></i></span>
          </div></div>

        <div class="main-signup">
          <img src="./assets/taskImg.jpg" alt="task image" />
          <form class="signup-form">
            <div class="signup-inputs">
              <input class="username" type="text" placeholder="Username" />
              <input class="age" type="number" placeholder="Age" />
              <input class="signupEmail" type="email" placeholder="Email" />
              <input class="signupPassword" type="password" placeholder="Password" />
            </div>
            <button class="submitBtn" type="submit">Sign up</button>
            <p>Already have an account? <span class="signupbarlink">Sign in</span></p>
          </form>
        </div>
      </div>
    </section>
    <section class="navbar-area">
      <div class="navbar">
        <nav class="navbar-nav">
          <div class="barnav">
        <div class="brandLogo">
          <img src="/assets/taskImg2.jpg" alt="brand logo" />
        </div>
        <div class="bar">
          <span class="barIcon">
            <i class="fa-solid fa-bars"></i>
          </span>
          <span class="crossBarIcon">
            <i class="fa-solid fa-xmark"></i>
          </span>
        </div></div>
          <div class="nav-links">
            <ul>
              <div class="nav-link-div">
                <span><i class="fa-solid fa-house"></i></span>
                <li class="nav-link">Home</li>
              </div>
              <div class="nav-link-div">
                <span><i class="fa-solid fa-address-card"></i></span>
                <li class="nav-link">About Us</li>
              </div>
              <div class="nav-link-div">
                <span><i class="fa-solid fa-list-check"></i></span>
                <li class="nav-link">Contact Us</li>
              </div>
              <div class="loginBtn nav-link-div">
                <span><i class="fa-solid fa-right-to-bracket"></i></span>
                <li class="nav-link">Sign in</li>
              </div>
              <div class="signupbtn nav-link-div">
                <span><i class="fa-solid fa-user-plus"></i></span>
                <li class="nav-link">Start For Free</li>
              </div>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <section class="main-area">
      <main>
        <div class="main-div">
          <div class="info-heading">
            <span>Create,</span>
            <span>Focus,</span>
            <span> And Succeed</span>
          </div>
          <div class="info-text">
            <p>
              The key is in not spending time, but in investing it wisely and
              orderely
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Molestias, dolorem?
            </p>
          </div>
          <div class="joinBtn">
            <span >
               Start For Free
            </span>
          </div>
        </div>
        <div class="sec-div">
          <div class="div1-area">
            <div class="div1-img">
              <img src="./assets/task1Img.webp" alt="" />
            </div>
            <div class="div1-info">
              <h1>Lorem ipsum dolor sit.</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur, a perferendis
                repellendus aliquam ab! Velit in fuga nemo saepe eius aliquid
                temporibus, officia ad rem. Dolorum exercitationem, debitis
                voluptatum inventore nesciunt adipisci ipsum ipsa eum laudantium
                corrupti obcaecati, natus dicta at velit minus excepturi?
              </p>
            </div>
          </div>
          <div class="div2-area">
            <div class="div2-info">
              <h1>Lorem ipsum dolor sit amet consectetur.</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisiciti accusantium
                velit dolorum ut adipisci libero cum, atque nam commodi iste
                doloremque tempore neque laboriosam! Vel, sunt.
              </p>
            </div>
            <div class="div2-img">
              <img src="./assets/task2Img.webp" alt="" />
            </div>
          </div>
          <div class="last-div">
            <div class="lastdiv-img">
              <img src="./assets/lastTaskImg.webp" alt="" />
            </div>
            <div class="lastdiv-quote">
              <h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, accusantium?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, natus?
                {{!-- Once you have mastered time, you will understand how true it is
                that most people overestimate what they can accomplish in a year
                - and underestimate what they can achieve in a decade --}}
              </h2>
            </div>
          </div>
        </div>
      </main>
    </section>
    {{>footer}}
    <script src="/js/index.js"></script>
  </body>
</html>