<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/auth.css" />
    <title>Task Manager|Sing in</title>
  </head>
  <body>
    <section class="login-section">
      <div class="login-area">
        <h1>Welocome To Task Manager</h1>
        <div class="main-login">
          <img src="./assets/taskImg.jpg" alt="task image" />
          <form class="login-form">
            <div class="login-inputs">
              <input class="email" type="text" placeholder="Email" />
              <input class="password" type="password" placeholder="Password" />
            </div>
            <button class="submitBtn" type="submit">Sign in</button>
            <p>Don't have an account? <a href="#">Sign up</a></p>
          </form>
        </div>
      </div>
    </section>

    <script src="/public/js/login.js"></script>
  </body>
</html>