<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link type="text/css" rel="stylesheet" href="/css/tasks.css" />
    <title>Task Manager|Home</title>
  </head>
  <body>
    <div class="loading-spinner">
      <div class="lds-hourglass"></div>
    </div>
    <div class="taskPen">
      <span class="pen">
        <i class="pens fa-solid fa-pen"></i>
      </span>
    </div>
    <div class="taskCross">
      <span class="cross"><i class="fa-solid fa-xmark"></i></span>
    </div>
    <section class="profileSection">
      <div class="profileArea">
        <h1>My Account</h1>
        <div class="myprofile">
          <div class="profile-sidebar">
            <ul>
              <li style="border-bottom: 3px solid red" class="personalInfoBtn">
                Personal Information
              </li>
              <li class="securityBtn">Security</li>
              <li class="logout">Logout</li>
              <li class="logoutall">Logout from all devices</li>
              <li class="deleteAccount">Delete Account</li>
            </ul>
          </div>
          <div class="profile-content-area">
            <div class="personalInfo">
              <div class="username-area">
                <label for="Username">Username</label>
                <input id="username" type="text" name="username"  required/>
              </div>
              <div class="age-area">
                <label for="age">Age</label>
                <input id="age" type="number" name="userage"  required/>
              </div>
              <div class="email-area">
                <label for="useremail">Email</label>
                <input id="email" type="email" name="useremail" required />
              </div>
            </div>
          </div>
          <div class="security">
            <div class="newPass">
              <label for="newPass">New Password</label>
              <input id="newPassword" type="password" name="newPass" />
            </div>
            <div class="confirmPass">
              <label for="confirmPass">Confirm Password</label>
              <input id="confirmPassword" type="password" name="confirmPass" />
            </div>
          </div>
        </div>
        <div class="profileAreaBtns">
          <button class="cancelBtn" type="button">Cancel</button>
          <button type="submit" class="saveBtn">Save</button>
        </div>
      </div>
    </section>
    <section class="navbar-area">
      <div class="navbar">
        <nav class="navbar-nav">
          <div class="brandLogo">
            <img src="/assets/taskImg2.jpg" alt="brand logo" />
          </div>
          <div class="nav-links">
            <ul>
              <div class="nav-link-div">
                <span><i class="fa-solid fa-house"></i></span>
                <li class="nav-link">Home</li>
              </div>
              <div class="nav-link-div">
                <span><i class="fa-solid fa-list-check"></i></span>
                <li class="nav-link">Tasks</li>
              </div>
              <div class="nav-link-div">
                <span><i class="fa-solid fa-address-card"></i></span>
                <li class="nav-link">About Us</li>
              </div>
              <div class="nav-link-div">
                <span><i class="fa-solid fa-list-check"></i></span>
                <li class="nav-link">Contact Us</li>
              </div>
              <div class="accountNav nav-link-div">
                <span><i class="fa-solid fa-user"></i></span>
                <li class="nav-link">My Account</li>
              </div>
            </ul>
            <form class="seach-bar searchForm">
              <input type="search" placeholder="Search" name="searchbar" />
              <a type="button" href=""><span class="searchIcon"><i
                    class="fa-solid fa-magnifying-glass"
                  ></i></span></a>
            </form>
          </div>
        </nav>
      </div>
    </section>
<section class="updateTaskArea">
      <div class="updateTask">
        <div class="updateTask__header">
          <h2>Update Task</h2>
        </div>
        <div class="updateTask__body">
          <form class="updateTask-form">
            <div class="updateTask__input">
              <label for="taskUpdatedName">Task Name</label>
              <input type="text" name="taskUpdatedName" id="taskUpdatedName" required />
            </div>
            <div id="taskDueDate__input">
              <label for="taskUpdatedDueDate">Due Date</label>
              <input type="date" name="taskUpdatedDueDate" id="taskUpdatedDueDate" required />
            </div>
            <div class="updateTask__input">
              <label for="taskUpdatedDescription">Task Description</label>
              <textarea
                name="taskUpdatedDescription"
                id="taskUpdatedDescription"
                required
              ></textarea>
            </div>
            <button onclick="closeUpdateTaskModal(this)" type="button" class="cancelTaskBtn">Cancel</button>
            <button type="submit" class="updateTaskBtn">Update Task</button>
          </form>
        </div>
      </div>
    </section>
    <section class="addTaskArea">
      <div class="addTask">
        <div class="addTask__header">
          <h2>New Task</h2>
        </div>
        <div class="addTask__body">
          <form class="task-form">
            <div class="addTask__input">
              <label for="taskName">Task Name</label>
              <input type="text" name="taskName" id="taskName" required />
            </div>
            <div id="taskDueDate__input">
              <label for="taskDueDate">Due Date</label>
              <input type="date" name="duedate" id="taskDueDate" required />
            </div>
            <div class="addTask__input">
              <label for="taskDescription">Task Description</label>
              <textarea
                name="taskDescription"
                id="taskDescription"
                required
              ></textarea>
            </div>
            <button type="submit" class="addTaskBtn">Add Task</button>
          </form>
        </div>
      </div>
    </section>
     <section class="allTasksArea">
      <header>
        <h1>Welcome To Task Manager App</h1>
      </header>
      <div class="taskList">
        <div class="tasks">
          
      </div>
    </section> 
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
    ></script>
    <script src="/js/tasks.js"></script>
  </body>
</html>
