<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/auth.css" />
    <title>Task Manager|sign up</title>
  </head>
  <body>
    <section class="signup-section">
      <div class="signup-area">
        <h1>Welocome To Task Manager</h1>
        <div class="main-signup">
          <img src="./assets/taskImg.jpg" alt="task image" />
          <form class="signup-form">
            <div class="signup-inputs">
              <input class="username" type="text" placeholder="Username" />
              <input class="age" type="number" placeholder="Age" />
              <input class="email" type="email" placeholder="Email" />
              <input class="password" type="password" placeholder="Password" />
            </div>
            <button class="submitBtn" type="submit">Sign up</button>
            <p>Already have an account? <a href="#">Sign in</a></p>
          </form>
        </div>
      </div>
    </section>
    <script src="../../public/js/singup.js"></script>
  </body>
</html>