<section class="navbar-area">
  <div class="navbar">
    <nav class="navbar-nav">
      <div class="barnav">
        <div class="brandLogo">
          <a href="/">
            <img src="/assets/taskImg2.jpg" alt="brand logo" /></a>
        </div>
        <div class="bar">
          <span class="barIcon">
            <i class="fa-solid fa-bars"></i>
          </span>
          <span class="crossBarIcon">
            <i class="fa-solid fa-xmark"></i>
          </span>
        </div></div>

      <div class="nav-links">
        <ul>
          <div class="nav-link-div">
            <span><i class="fa-solid fa-house"></i></span>
            <li class="nav-link">Home</li>
          </div>
          <div class="nav-link-div">
            <span><i class="fa-solid fa-list-check"></i></span>
            <li class="nav-link">Tasks</li>
          </div>
          <div class="nav-link-div">
            <span><i class="fa-solid fa-address-card"></i></span>
            <li class="nav-link">About Us</li>
          </div>
          <a href="/contact">
            <div class="nav-link-div">
              <span><i class="fa-solid fa-list-check"></i></span>
              <li class="nav-link">Contact Us</li>
            </div>
          </a>
          <div class="accountNav nav-link-div">
            <span><i class="fa-solid fa-user"></i></span>
            <li class="nav-link">My Account</li>
          </div>
        </ul>
        <div class="seach-bar searchForm">
          <input
            id="searchInput"
            type="search"
            placeholder="Search"
            name="searchbar"
          />
          <a type="button" href=""><span class="searchIcon"><i
                class="fa-solid fa-magnifying-glass"
              ></i></span></a>
        </div>
      </div>
    </nav>
  </div>
</section>