* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.loading-spinner {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.445);
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    display: none;
}

.lds-hourglass {
    width: 300px;
    height: 300px;
    position: fixed;
    left: 45%;
    top: 25%;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #e96847 transparent #e96847 transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}


.login-section,
.signup-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: whitesmoke;
}

.login-area,
.signup-area {
    background-color: white;
    padding: 80px 100px;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.login-area h1,
.signup-area h1 {
    font-size: 2.3em;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}

.main-login img,
.main-signup img {
    width: 100%;
    height: auto;
    max-width: 350px;
    border-radius: 51%;
}

.main-login,
.main-signup {
    display: flex;
    gap: 60px;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input {
    width: 100%;
    min-width: 200px;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
    outline: none;
}

button {
    cursor: pointer;
    width: 100%;
    min-width: 400px;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #066093;
    border: 1px solid rgba(0, 0, 0, 0.543);
}

.signup-inputs input {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    width: 100%;
}

.signup-section img {
    max-width: 400px;

}