* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* //navbar area  */

.navbar-area {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    width: 80%;
    margin: 0 0 0 10%;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.navbar-nav {
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}

.seach-bar {
    display: flex;
    gap: 15px;
    align-items: center;
}

.seach-bar input {
    width: 100%;
    min-width: 100px;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    margin-bottom: 0px;
}

.seach-bar span {
    cursor: pointer;
    font-size: 18px;
    color: rgb(0, 246, 0);
}

.navbar-nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-link-div {
    display: flex;
    gap: 5px;
}

.navbar-nav .nav-links .nav-link {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    min-width: 22px;
}


.navbar-nav .brandLogo img {
    width: 100%;
    max-width: 60px;
    border-radius: 52%;
    cursor: pointer;
    height: auto;
}

.signupbtn {
    padding: 10px 20px;
    border-radius: 10px;
}

/* //main area  */


.main-area {
    width: 100%;
    /* background-color: yellow; */
}


.main-area .main-div {
    background: url("../assets/backgroundImage.webp") no-repeat center center/cover rgba(0, 0, 0, 0.708);
    background-blend-mode: darken;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 25px;
}

.info-heading span {
    font-size: 70px;
    font-weight: bolder;
}

.info-text p {
    font-size: 20px;
    font-weight: bold;
}

.joinBtn {
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
}

.joinBtn a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.info-heading {
    margin-top: -200px;
}

.sec-div {
    width: 60%;
    margin: 0 0 0 20%;
}

.sec-div img {
    width: 100%;
    min-width: 400px;
    height: auto;
}

.div1-area {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    height: 70vh;
    align-items: center;
}

.div1-area .div1-info {
    width: 40%;
}

.div2-area {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    height: 70vh;
    align-items: center;
    padding-bottom: 90px;
}

.div1-info,
.div2-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.last-div {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    height: 70vh;
    align-items: center;
    padding-bottom: 90px;
}

.lastdiv-quote h2 {
    font-weight: bolder;
    font-size: 29px;
}

/* //footer area  */
.footer-area {
    width: 100%;
    padding: 80px 0px 60px 0;
    background-color: rgba(0, 0, 0, 0.68);
    color: white;
}

.footer-area li {
    list-style: none;
    text-decoration: none;
}

.footer {
    width: 70%;
    margin: 0 0 0 10%;
}

.footer-foot {
    display: flex;
    justify-content: space-between;
}

.footer-foot .other-info {
    display: flex;
    gap: 40px;
}

.about {
    width: 40%;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.contacts,
.features,
.company {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.other-info h3 {
    font-size: 23px;
}

.social-icons span {
    font-size: 19px;
}

.linkedin span {
    color: #0e76a8;
}

.instagram span {
    color: red;
}

.twitter span {
    color: #00acee;
}

.mail span {
    color: pink;
}

.contacts a {
    text-decoration: none;
    color: white;
}

.features,
.company li {
    cursor: pointer;
}

.info-icons {
    display: flex;
    gap: 10px;
}

.info-icons span {
    font-size: 20px;
}

.globe {
    color: #00acee;
}

.check {
    color: greenyellow;
}

.clipboard-check {
    color: #47B5FF;
}

.about p {
    font-size: 20px;
}