@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500&family=Aleo&family=Heebo&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* //navbar area  */

.bar {
    display: none;
}

.crossBarIcon {
    display: none;
}

.bar span {
    font-size: 50px;
}

.navbar-area {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    width: 80%;
    margin: 0 0 0 10%;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.navbar-nav {
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}

.seach-bar {
    display: flex;
    gap: 15px;
    align-items: center;
}

.seach-bar input {
    width: 100%;
    min-width: 100px;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    margin-bottom: 0px;
}

.seach-bar span {
    cursor: pointer;
    font-size: 18px;
    color: rgb(0, 246, 0);
}

.navbar-nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-link-div {
    display: flex;
    gap: 5px;
}

.navbar-nav .nav-links .nav-link {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    min-width: 22px;
}


.navbar-nav .brandLogo img {
    width: 100%;
    max-width: 60px;
    border-radius: 52%;
    cursor: pointer;
    height: auto;
}

.signupbtn {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: tomato;
}

/* //main area  */

main p,
main h2 {
    font-size: 22px;
}

.main-area {
    width: 100%;
}


.main-area .main-div {
    background: url("../assets/backgroundImage.webp") no-repeat center center/cover rgba(0, 0, 0, 0.708);
    background-blend-mode: darken;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 15px;
}

.info-heading span {
    font-size: 70px;
    font-weight: bolder;
}

.info-text p {
    font-size: 20px;
    font-weight: bold;
}

.joinBtn {
    background-color: rgb(224, 68, 40);
    padding: 15px 25px;
    border-radius: 9px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 30px;
}

.joinBtn a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.info-heading {
    margin-top: -200px;
}

.sec-div {
    width: 60%;
    margin: 0 0 0 20%;
}

.div1-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;

    gap: 100px;
}


.div2-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;

    gap: 100px;
}

.div2-area img {
    width: 350px;
}


.last-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;

    gap: 100px;
}


/* //footer area  */
.footer-area {
    width: 100%;
    padding: 80px 0px 60px 0;
    background-color: rgba(0, 0, 0, 0.68);
    color: white;
}

.footer-area li {
    list-style: none;
    text-decoration: none;
}

.footer {
    width: 70%;
    margin: 0 0 0 10%;
}

.footer-foot {
    display: flex;
    justify-content: space-between;
}

.footer-foot .other-info {
    display: flex;
    gap: 40px;
}

.about {
    width: 40%;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.contacts,
.features,
.company {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.other-info h3 {
    font-size: 23px;
}

.social-icons span {
    font-size: 19px;
}

.linkedin span {
    color: #0e76a8;
}

.instagram span {
    color: red;
}

.twitter span {
    color: #00acee;
}

.mail span {
    color: pink;
}

.contacts a {
    text-decoration: none;
    color: white;
}

.features,
.company li {
    cursor: pointer;
}

.info-icons {
    display: flex;
    gap: 10px;
}

.info-icons span {
    font-size: 20px;
}

.globe {
    color: #00acee;
}

.check {
    color: greenyellow;
}

.clipboard-check {
    color: #47B5FF;
}

.about p {
    font-size: 20px;
}


/* //authentication  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.loading-spinner {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.445);
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 10000;
}

.lds-hourglass {
    width: 300px;
    height: 300px;
    position: fixed;
    left: 45%;
    top: 25%;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #e96847 transparent #e96847 transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}

.crossSignupHeader,
.crossLoginHeader {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
}

.taskCross span {
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(226, 16, 16);
    color: white;
    padding: 15px 21px;
    border-radius: 51%;
    cursor: pointer;
}

.signupbarlink,
.loginbarlink {
    color: blue;
    cursor: pointer;
}

.login-section,
.signup-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.445);
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    display: none;
}

.login-area,
.signup-area {
    background-color: white;
    padding: 60px 0;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    gap: 50px;
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 10%;
}

.login-area h1,
.signup-area h1 {
    font-size: 2.3em;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}

.main-login img,
.main-signup img {
    width: 100%;
    height: auto;
    max-width: 350px;
    border-radius: 51%;
}

.main-login,
.main-signup {
    display: flex;
    gap: 60px;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input {
    width: 100%;
    min-width: 200px;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
    outline: none;
}

button {
    cursor: pointer;
    width: 100%;
    min-width: 400px;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #066093;
    border: 1px solid rgba(0, 0, 0, 0.543);
}

.signup-inputs input {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    width: 100%;
}

.signup-section img {
    max-width: 400px;

}

/* //scroll  */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* //media queries  */
/* //footer  */
@media screen and (max-width:905px) {
    .footer-foot {
        flex-direction: column;
    }

    .footer-foot .about {
        width: 100%;
        padding-bottom: 15px;
    }
}

@media screen and (max-width:700px) {
    .footer {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width:390px) {
    .footer-foot .other-info {
        gap: 11px;
    }
}

@media screen and (max-width:580px) {
    header h1 {
        font-size: 28px;
    }
}

/* //navbar  */
@media screen and (max-width:1269px) {
    .navbar-nav ul {
        gap: 30px;
    }
}

@media screen and (max-width:1155px) {
    .navbar {
        width: 95%;
        margin: 0 2%;
    }
}

@media screen and (max-width:975px) {
    .seach-bar input {
        display: none;
    }
}

@media screen and (max-width:730px) {

    .navbar-nav {
        flex-direction: column;
    }

    .bar {
        display: block;
        cursor: pointer;
    }

    .barnav {
        padding: 5px 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .brandLogo {
        align-self: flex-start;
    }

    .nav-links {
        flex-direction: column;
        display: none;
        gap: 20px;
    }

    .navbar-nav ul {
        flex-direction: column;
    }

    .nav-link-div {
        align-self: flex-start;
        gap: 10px;
    }

    .seach-bar {
        align-self: center;
        padding: 15px 0px;
        justify-content: center;
    }
}

/* //main  area  */
@media screen and (max-width:1309px) {

    .last-div,
    .div1-area {
        flex-wrap: wrap;
    }

    .div2-area {
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width:879px) {
    .main-div {
        padding: 0 100px;
    }
}

@media screen and (max-width:450px) {
    .sec-div img {
        width: 245px;
    }

    .joinBtn {
        width: 234px;
    }

    .main-div {
        padding: 0 20px;
    }
}

/* //login  */

@media screen and (max-width:1252px) {

    .login-area,
    .signup-area {
        width: 90%;
    }
}

@media screen and (max-width:970px) {

    .crossLoginHeader,
    .crossSignupHeader {
        flex-wrap: wrap-reverse;
        gap: 20px;
        justify-content: center;
    }

    .login-area img,
    .signup-area img {
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width:786px) {

    .signup-section,
    .login-section {
        height: 100vh;
        overflow: scroll;
    }

    .main-login,
    .main-signup {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

@media screen and (max-width:543px) {

    .main-login input,
    .main-signup input {
        width: 310px;
        margin-left: 15px;
    }

    .main-login button,
    .main-signup button {
        min-width: 10px;
        width: 235px;
    }

    .login-form,
    .signup-form {
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width:400px) {

    .main-login input,
    .main-signup input {
        width: 250px;
        margin-left: 15px;
    }
}