* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: white;
}

.loading-spinner {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.445);
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    display: none;
}

.lds-hourglass {
    width: 300px;
    height: 300px;
    position: fixed;
    left: 45%;
    top: 25%;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #e96847 transparent #e96847 transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}


/* add task model section  */
header h1 {
    text-align: center;
    margin: 20px 0 50px;
    font-size: 35px;
}

.taskPen,
.taskCross {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.taskPen span,
.taskCross span {
    font-size: 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 51%;
}

.taskCross span {
    font-size: 40px;
    padding: 10px 20px;
}


textarea {
    width: 100%;
    min-height: 120px;
    min-width: 400px;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    resize: none;
    border: 2px solid rgba(0, 0, 0, 0.543);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    min-width: 400px;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
    outline: none;
}

button {
    cursor: pointer;
    width: 100%;
    min-width: 400px;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: rgba(0, 128, 0, 0.772);
    border: 1px solid rgba(0, 0, 0, 0.543);
}



.addTaskArea,
.updateTaskArea {
    background-color: rgba(0, 0, 0, 0.694);
    display: none;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: fixed;
    padding-top: 50px;
}

.formActive {
    display: flex;
}

.taskCross {
    display: none;
    z-index: 10;
}

.taskPen {
    display: block;
    z-index: 10;
}


.addTask,
.updateTask {
    background-color: white;
    padding: 30px 60px;
    border-radius: 15px;
}

.updateTask {
    width: 50%;
    max-width: 550px;
    margin: 0 auto;
}

.task-form,
.updateTask-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addTask h2,
.updateTask h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* all task section  */
.allTasksArea {
    /* background-color: white; */
    padding: 0 0 100px 0;
}

.allTasksArea h1 {
    margin: 0;
    padding: 20px 0;
}

.taskList {
    width: 90%;
    margin: 0 auto;
}

.taskList h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.tasks {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.heading {
    font-size: 20px;
    font-weight: bold;
}

.task {
    width: 400px;
    min-width: 30px;
    max-width: 400px;
    border: 2px solid green;
    height: 300px;
    min-height: 250px;
    padding: 25px 20px 25px 30px;
    border-radius: 7px;
    display: flex;
    gap: 10px;
}

.content-area {
    width: 89%;
    word-wrap: break-word;
}

.content {
    padding-right: 10px;
}

.trash,
.edit {
    cursor: pointer;
    font-size: 25px;
}

.trash {
    color: red;
}

.edit {
    color: green;
}

.taskId {
    font-size: 0px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* profile area section  */
.profileSection {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.694);
    display: none;
}

.profileArea {
    display: flex;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(39, 38, 38);
    flex-direction: column;
    gap: 20px;
    padding: 50px 70px;
    border-radius: 15px;
}

.profileArea h1 {
    font-size: 35px;
    color: whitesmoke;
}

.myprofile {
    display: flex;
    gap: 30px;
}

.myprofile ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.myprofile ul li {
    list-style: none;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 7px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.profileSection label {
    color: white;
}

.profileAreaBtns {
    display: flex;
    margin: 0 auto;
    margin-left: 200px;
    gap: 15px;
}

.profileAreaBtns button {
    width: 100%;
    min-width: 100px;
    padding: 12px 40px;
    font-weight: bolder;
}

.cancelBtn {
    background-color: rgb(185, 46, 46);
    color: white;
}

.saveBtn {
    background-color: rgb(39, 132, 39);
}

.security {
    display: none;
}

/* //navbar */

.navbar-area {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    width: 80%;
    margin: 0 0 0 10%;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.navbar-nav {
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}

.seach-bar {
    display: flex;
    gap: 15px;
    align-items: center;
}

.seach-bar input {
    width: 100%;
    min-width: 100px;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    margin-bottom: 0;
}

.seach-bar span {
    cursor: pointer;
    font-size: 18px;
    color: rgb(0, 246, 0);
}

.navbar-nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-link-div {
    display: flex;
    gap: 5px;
}

.navbar-nav .nav-links .nav-link {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    min-width: 22px;
}


.navbar-nav .brandLogo img {
    width: 100%;
    max-width: 60px;
    border-radius: 52%;
    cursor: pointer;
    height: auto;
}

.signupbtn {
    padding: 10px 20px;
    border-radius: 10px;
}